.orders-landing-wrapper {
  h1 {
    text-align: center;
    margin: 20px;
  }

  .card {
    margin-bottom: 20px;
    width: 21rem;
  }
  .badge {
    padding: 6px;
    border-radius: 12px;
    font-weight: 500;
  }
}
